.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--gray-400);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    width: 47rem;
    color: var(--gray-100);
}

.container button {
    background-color: transparent;
    border: none;
}

.divForm {
    display: flex;
}

.checkBox {
    margin-right: 1rem;
}

.paragraphFinished {
    text-decoration: line-through;
}

.buttonDelete {
    cursor: pointer;
    float: right;
    color: var(--gray-200);
}

.divForm input[type='checkbox'] {
    display: none
}

.label {
    display: flex;
    cursor: pointer;
}

.checkBox {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid 3px var(--blue);
    margin-right: 1rem;
}

.checkBoxSelected {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid 3px var(--purple);
    margin-right: 1rem;
    background-color: var(--purple);
}

@media(max-width: 768px) {
    .container {
        width: 28rem;
    }
}